apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-initdb-config
data:
  initdb.sql: |
    SELECT 'CREATE DATABASE order_service'
    WHERE NOT EXISTS (
      SELECT FROM pg_database WHERE datname = 'order_service'
    )\gexec



